.footer {
  height: 150px;
  padding: 50px 100px 0px 100px;
  background-color: #E6D1C6
}

.icons-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-small {
  width: 30px;
  height: 30px;
  color: black;
}

.icon-small:hover {
  color: rgb(100, 100, 100);
}

.footer h2 {
  text-align: center;
}
